<% include _layout/header %>
	<body class="body-jogo">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
					<a href="/sair" class="btn btn-info pull-right">Sair</a>
				</div>
			</div>
		</nav>

	    <div class="container">

			<% if(comando_invalido == 'S'){ %>
				<div class="alert alert-danger" class="msg_errors">
					<strong>Comando invalido, verifique os opcoes informadas</strong>
				</div>
			<% } %>

			<div class="row">
	    		<div class="col-sm-3 casa">
					<img src="images/casa_<%= img_casa %>.jpg" />
				</div>

	    		<div class="col-sm-9">
					<div class="row barra-superior">
						<div class="col-sm-2">
							<img src="images/habilidades/temor.jpg" title="Temor" alt="Temor" />
							<span><%= parametros.temor %></span>
						</div>

						<div class="col-sm-2">
							<img src="images/habilidades/sabedoria.jpg" title="Sabedoria" alt="Sabedoria"/>
							<span><%= parametros.sabedoria %></span>
						</div>

						<div class="col-sm-2">
							<img src="images/habilidades/comercio.jpg" title="Comércio" alt="Comércio"/>
							<span><%= parametros.comercio %></span>
						</div>

						<div class="col-sm-2">
							<img src="images/habilidades/magia.jpg" title="Magia" alt="Magia"/>
							<span><%= parametros.magia %></span>
						</div>
					</div>
				</div>
	    	</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="acoes" id="acoes">
						<h1>Selecione uma tarefa!</h1>
					</div>
				</div>
			</div>

		</div>

		<div class="barra-inferior">
			<div class="container">

				<div class="row">
					<div class="col-sm-1">
						<img src="images/outros/suditos.jpg" title="Aldeões" alt="Aldeões" id="btn_suditos"/>
						<span><%= parametros.suditos %></span>
					</div>

					<div class="col-sm-1">
						<img src="images/outros/pergaminho.jpg" title="Pergaminhos" alt="Pergaminhos" id="btn_pergaminhos"/>
					</div>

					<div class="col-sm-8"></div>

					<div class="col-sm-2">
						<img src="images/outros/moeda.jpg" title="Moeda" alt="Moeda"/>
						<span><%= parametros.moeda %></span>
					</div>
				</div>
			</div>
		</div>
		<<script>
			$('#btn_suditos').click((e)=>{
				e.preventDefault();
				$('.msg_errors').hide();
				$.ajax({
					url : '/suditos',
					method : 'get',
					type : 'json',
					beforeSend : function(pre){
						$('#acoes').html("<div class='alert alert-info'>Carregando ...</div>");
					},
					success  : function(pre){
						$('#acoes').html(pre);
					}
				})
			})

			$('#btn_pergaminhos').click((e)=>{
				e.preventDefault();
				$('.msg_errors').hide();
				$.ajax({
					url : '/pergaminhos',
					method : 'get',
					beforeSend : function(pre){
						$('#acoes').html("<div class='alert alert-info'>Carregando ...</div>");
					},
					success : function(pre){
						$('#acoes').html(pre);
					}
				})
			})
		</script>
	</body>
</html>
